// ==========================================================================
// Footer stylesheet
// ==========================================================================
//
// Table of Contents:
//
//  1. Layout
//  2. Typo


// 1. Layout
// ==========================================================================
footer
{
  display: none;

  @include respond-to($md-break)
  {
    display: flex;
    flex-direction: row;
    height: $footer-desktop-size;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: $z-index-footer;
    height: $footer-desktop-size;
    background: $footer-bg;
  }
}

// 2. Logo
// ==========================================================================
footer #nav-controls{
  width: 100%;
  opacity: 1;
  transition: opacity .1s;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2%;

  @include respond-to($md-break)
  {
    text-align: right;
    margin-left: 0px;
  }

  ul
  {

    &.footer__menu{
      list-style: none;
      display: flex;
      margin: 0;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      color: $redwine-color;
    }

    &.footer__redes{
      list-style: none;
      display: inline-block;
      margin: 0;
      color: $gray-color;
    }

    li
    {
      /*font-family: $header-font;*/
     // font-size: 0.75rem;
      letter-spacing: 1px;
      line-height: 22px;

      transition: all .2s;
      display: block;
      cursor: pointer;

      font-family: $font-AntonioR;
      text-decoration: none;
      text-transform: lowercase;
      text-transform: uppercase;
      

      @include respond-to($md-break)
      {
        display: inline-block;
        margin-left: 30px;
      }

      a{
        text-decoration:none;
        color: inherit;
      }

      &:first-child img
      {
        margin-right: 10px;
      }

      &:last-child img
      {
        margin-left: 10px;
      }
    }
  }
}

footer #nav-controls .redes{
  display: none;

  @include respond-to($md-break)
  {
    display:inline-block;
  }
}