// ==========================================================================
// Typography mixins
// ==========================================================================


// Font rem sizes - html root element font-size set to 16px
@mixin font-size($size)
{
  font-size: $size;
  font-size: ($size / $font-size-base) * 1rem;
}

@mixin text-variant($class, $color)
{
  .#{$class}
  {
    color: $color;

    &:hover,
    &:focus
    {
      color: $color;
    }
  }
}
