// ==========================================================================
// Antonio Bold font
// ==========================================================================

@font-face {
  font-family: 'Antonio Bold';
  src: url('#{$local-font-path}/antonio-bold/antonio-bold.woff') format('woff');
  src: url('#{$local-font-path}/antonio-bold/antonio-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}