// ==========================================================================
// Lato Regular font
// ==========================================================================

@font-face {
  font-family: 'AvantGarde';
  src: url('#{$local-font-path}/avantGarde/avant.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}